
*,
::after,
::before {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.container {
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.cell {
  display: flex;
  width: 190px;
  height: 200px;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  border: 5px solid #42a1f4;
}

#one, #two, #three, #four, #five, #six {
  border-bottom: 1px solid black;
}

#one, #two, #four, #five, #seven, #eight {
  border-right: 1px solid black;
}

h1 {
  margin-top: 1em;
}

h2 {
  display: none;
}

.play-again {
  display: inline;
}
